service.bundleLocation="slinginstall:org.sakaiproject.nakamura.http-0.11-SNAPSHOT.jar"
trusted.hosts=["http://localhost:8080","http://portal.berkeley.edu","http://portal.berkeley.edu:80","http://portal.berkeley.edu:8080","https://portal.berkeley.edu"]
service.pid="org.sakaiproject.nakamura.http.usercontent.ServerProtectionServiceImpl"
trusted.paths=["/dev","/devwidgets","/system"]
untrusted.contenturl="http://portal.berkeley.edu:8082"
trusted.postwhitelist=["/system"]
trusted.exact.paths=["/","/index.html"]
trusted.secret="This Must Be set in production"
trusted.referer=["/","http://localhost:8080","http://portal.berkeley.edu","http://portal.berkeley.edu:80","http://portal.berkeley.edu:8080","https://portal.berkeley.edu"]
trusted.anonpostwhitelist=["/system/userManager/user.create","/system/batch"]
disable.protection.for.dev.mode=B"false"
