trusted.hosts=["localhost:8080\ \=\ http://localhost:8082","calcentral.berkeley.edu\ \=\ https://calcentral.berkeley.edu:9443"]
trusted.postwhitelist=["/system"]
trusted.secret="SHARED_SECRET"
trusted.anonpostwhitelist=["/system/userManager/user.create","/system/batch","/system/myberkeley/selfProvision"]
