trusted.hosts=["http://localhost:8080","http://calcentral.berkeley.edu","http://calcentral.berkeley.edu:80","http://calcentral.berkeley.edu:8080","https://calcentral.berkeley.edu"]
trusted.postwhitelist=["/system"]
trusted.referer=["/","http://localhost:8080","http://calcentral.berkeley.edu","http://calcentral.berkeley.edu:80","http://calcentral.berkeley.edu:8080","https://calcentral.berkeley.edu"]
untrusted.contenturl="https://calcentral.berkeley.edu:9443"
