trusted.hosts=["http://localhost:8080","http://calcentral-qa.berkeley.edu","http://calcentral-qa.berkeley.edu:80","http://calcentral-qa.berkeley.edu:8080","https://calcentral-qa.berkeley.edu"]
trusted.postwhitelist=["/system"]
trusted.referer=["/","http://localhost:8080","http://calcentral-qa.berkeley.edu","http://calcentral-qa.berkeley.edu:80","http://calcentral-qa.berkeley.edu:8080","https://calcentral-qa.berkeley.edu"]
untrusted.contenturl="http://calcentral-qa.berkeley.edu:9443"
untrusted.redirect.host="https://calcentral-qa.berkeley.edu:9443"
