trusted.hosts=["http://localhost:8080","http://calcentral-staging.berkeley.edu","http://calcentral-staging.berkeley.edu:80","http://calcentral-staging.berkeley.edu:8080","https://calcentral-staging.berkeley.edu"]
trusted.postwhitelist=["/system"]
trusted.referer=["/","http://localhost:8080","http://calcentral-staging.berkeley.edu","http://calcentral-staging.berkeley.edu:80","http://calcentral-staging.berkeley.edu:8080","https://calcentral-staging.berkeley.edu"]
untrusted.contenturl="http://calcentral-staging.berkeley.edu:9443"
untrusted.redirect.host="https://calcentral-staging.berkeley.edu:9443"
trusted.secret="SHARED_SECRET"
trusted.anonpostwhitelist=["/system/userManager/user.create","/system/batch","/system/myberkeley/selfProvision"]
