trusted.hosts=["http://localhost:8080","http://portal-dev.berkeley.edu","http://portal-dev.berkeley.edu:80","http://portal-dev.berkeley.edu:8080","https://portal-dev.berkeley.edu"]
trusted.paths=["/dev","/devwidgets","/system","/var/defaults"]
trusted.postwhitelist=["/system"]
trusted.referer=["/","http://localhost:8080","http://portal-dev.berkeley.edu","http://portal-dev.berkeley.edu:80","http://portal-dev.berkeley.edu:8080","https://portal-dev.berkeley.edu"]
