trusted.hosts=["http://localhost:8080","http://portal-dev.berkeley.edu","http://portal-dev.berkeley.edu:80","http://portal-dev.berkeley.edu:8080","https://portal-dev.berkeley.edu"]
trusted.postwhitelist=["/system"]
trusted.referer=["/","http://localhost:8080","http://portal-dev.berkeley.edu","http://portal-dev.berkeley.edu:80","http://portal-dev.berkeley.edu:8080","https://portal-dev.berkeley.edu"]
untrusted.contenturl="http://portal-dev.berkeley.edu:8082"